html, body {
    height: 99.9%;
    margin: 0 auto;
}

#header {
    height: 20px;
    background-color: orangered;
    color: whitesmoke;
}

#select {
    height: 150px;
    background-color: rgb(255, 94, 0);
    color: whitesmoke;
}

#select span {
    position: relative;
    top: 40px;
    left: 200px;
    font-size: 40px;
}
/* #select input{
    
} */