@import "_normalize";

@media screen and (max-width: 1280px) {
  .container {
    max-width: 940px;
  }
  .story {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 830px;
  }
  .story-content {
    flex-direction: column;
    align-items: center;
  }
  .story {
    width: 100%;
  }
}
@media screen and (max-width: 880px) {
  .container {
    max-width: 600px;
  }
  .items {
    flex-direction: column;
  }
  .item {
    width: 90%;
    margin: 10px;
  }
  .signup-content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .header-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    left: 0;
    top: 100%;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    padding: 8px 0;
    li {
      padding: 0px 20px;
    }
  }
  .menu-btn {
    display: unset;
  }
  .banner {
    padding-top: 80px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-content ul {
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
  .story-img {
    margin: 0px auto;
    width: 90%;
  }
  .sign-form {
    width: 100%;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

header {
  padding: 8px 16px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #dfdfdf;
}

.header-menu {
  font-size: 18px;
  display: flex;

  a {
    display: block;
    padding: 8px 10px;
    color: #838383;
  }

  a:hover {
    color: #000000;
  }
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
}
.menu-btn {
  padding: 4px 12px;
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  color: #838383;
  display: none;
}

.logo {
  font-size: 20px;
  margin: 0 16px 0 0;
  padding: 5px 0px;
}

.banner-text {
  text-align: center;

  h2 {
    font-size: 56px;
  }

  h4 {
    font-size: 26px;
    color: #9e9e9e;
  }

  a {
    background-color: purple;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
  }
}

.banner {
  padding: 128px 32px 18px;
}

.items {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.feature-content {
  margin: 40px 0;
}

.item {
  padding: 0px 15px;
  width: (100%/3);

  & > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #dfdfdf;
  }

  & > div:hover {
    box-shadow: 0px 2px 12px 2px #99a6b14a;
  }

  .item-body {
    padding: 1.25rem;
    flex: 1 1 auto;

    h4 {
      margin: 8px 0px;
      font-size: 18px;
      line-height: 1.2px;
      color: #7d8b9a;
    }
  }

  .item-footer {
    border-top: 1px solid #dfdfdf;
    padding: 0.75rem 1.25rem;
  }
}
.story {
  width: 90%;
  margin: 0 auto;
  background-color: #677bff;
}

.story-area {
  color: #ffffff;
  padding: 110px 0px;
}

.sotry-content {
  display: flex;
}

.story-img {
  flex: 0 0 450px;
  margin-right: 30px;
}

.sotry-text {
  flex: 1 1 auto;

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }
}
.join {
  color: #7d8b9a;
  background-color: #f5f5f5;
  padding: 110px 0px;
  text-align: center;
}
.sign-form {
  width: 70%;
  margin: 0px auto;

  & > div {
    margin-bottom: 1rem;
  }

  a {
    display: block;
    background-color: #6f6f6f;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
  }

  p {
    text-align: left;
    margin: 0 0 16px;
    padding: 8px 0px;
    font-size: 18px;
  }
}
.signup-content {
  width: 70%;
  margin: 0px auto;

  & > h2 {
    margin: 0 0 8px;
    font-size: 32px;
  }

  & > p {
    margin: 0 0 16px;
    font-size: 20px;
  }
}
.input-div {
  display: flex;
  span {
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -1px;
  }
  input {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex: 1 1 auto;
  }
}
.page-footer {
  padding: 48px 0px 20px;
  background-color: #3d4143;
  text-align: center;
  color: #cfcfcf;
  ul {
    font-size: 18px;
    display: flex;
  }
  a {
    color: white;
    display: block;
    padding: 8px;
  }
  a:hover {
    color: #cfcfcf;
  }
}
.footer-menu {
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.footer-logo {
  text-align: left;
  font-size: 20px;
  a:hover {
    color: #ffffff;
  }
}
